* filter=ignoreline

* text=auto

text eol=lf

*.out binary
.editorconfig text
.gitattributes text
.gitconfig text
.gitignore text
*.js text
*.less text
*.md text
*.npmignore text
*.sh text

package-lock.json -diff
